/*

Add styles or override variables from the theme here.

*/
$primary: #1e1e4b;
$secondary: #ffbc3b;
$info: #5c5c77;
$white: #f8f8f8;
$google_font_name: "Poppins";
$google_font_family: "Poppins:300,400,500,600,700";
