{{ $red := "#ff5252" }}
{{ $green := "#43A047" }}
{{ $yellow := "#ffbc3b" }}
{{ $purple := "#58355e" }}
{{ $white := "#f8f8f8" }}
{{ $data := index $.Page.Params ( .Get 0 ) }}
{{ $scratch := newScratch }}
{{ $currently := .Get "currently" }}
{{ $previously := .Get "previously" }}
{{ $petition := .Get "petition" }}
<table class="text-center">
  <tr>
    <thead>
    <th>Current Use of Facial Recognition?</th>
    <th>Previous Use of Facial Recognition?</th>
    <th>Take Action!</th>
    </thead>
  <tr>
  <tr>
    {{ if eq $currently "no" }}
    <td style="background-color:{{ $green }};">No <i class="fas fa-check"></i></td>
    {{ else if eq $currently "unknown" }}
    <td style="background-color:{{ $purple }};color:{{ $white }};">Unknown/Under investigation <i class="fas fa-question"></i></td>
    {{ else }}
    <td style="background-color:{{ $red }};">Yes <i class="fas fa-times"></i></td>
    {{ end }}
    {{ if eq $previously "no" }}
    <td style="background-color:{{ $green }};">No <i class="fas fa-check"></i></td>
    {{ else if eq $previously "trial" }}
    <td style="background-color:{{ $yellow }};">Has tested <i class="fas fa-times"></i></td>
    {{ else if eq $previously "unknown" }}
    <td style="background-color:{{ $purple }};color:{{ $white }};">Unknown/Under investigation <i class="fas fa-question"></i></td>
    {{ else if eq $previously "interest" }}
    <td style="background-color:{{ $yellow }};">Has shown interest <i class="fas fa-times"></i></td>
    {{ else }}
    <td style="background-color:{{ $red }};">Yes <i class="fas fa-times"></i></td>
    {{ end }}
    <td><a href="{{ $petition }}" target="_blank">Sign the petition</a></td>
  </tr>
</table>
